@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/create-player-form.css';
@import './components/menu.css';
@import './components/menu/menu-option.css';
@import './components/page-layout.css';
@import './components/players-list.css';
@import './components/validation-error.css';

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  @apply border-0;
}

html,
body {
  font-family: 'Lato', sans-serif;

  @apply m-0 p-0;
}
