<div ...attributes class="MainMenu">
    <h1>Ping Pong Tournament</h1>

    <Menu>
        {{!-- Future content
        <Menu::Option @route="casual.new" @label="New Game" />
        <Menu::Option @route="ranking" @label="Ranking" />
        <Menu::Option @route="players-manager" @label="Manage Players" /> --}}
    </Menu>
</div>