<div 
    ...attributes 
    data-test-value-with-icon 
    class="value-with-icon-wrapper {{if @reverse "flex-row-reverse" "flex-row"}}"
>
    <span data-test-value class="value">
        {{@value}}
    </span>
    <span data-test-icon class="icon">
        <FaIcon @icon={{@icon}} />
    </span>
</div>