<LinkTo 
    data-test-single-player 
    class="single-player" 
    @route="players.player.statistics" 
    @model={{@player}}
>
    <div data-test-score-wrapper class="score-wrapper">
        <span data-test-score-value class="value">
            {{@player.gamesWon.length}}
        </span>
        <span data-test-score-icon class="icon">
            {{md-icon "star_rate"}}
        </span>
    </div>
    <h5 data-test-player-nickname class="player-nickname">
        {{@player.nickname}}
    </h5>
</LinkTo>