<LinkTo 
    data-test-single-player 
    class="single-player" 
    @route="players.player.statistics" 
    @model={{@player}}
>
    <ValueWithIcon 
        data-test-place-wrapper
        class="place-wrapper" 
        @value={{@place}} 
        @icon="crown" 
    />
    <span data-test-player-nickname class="player-nickname">
        {{@player.nickname}}
    </span>
    <ValueWithIcon 
        data-test-score-wrapper
        class="score-wrapper" 
        @value={{@player.gamesWon.length}} 
        @icon="trophy" 
    />
</LinkTo>