<h1 data-test-main-headline class="main-headline">
    <span data-test-player-1 class="player">
        {{@players.firstObject.nickname}}
    </span>
    <span data-test-vs-span class="vs-span">VS</span>
    <span data-test-player-2 class="player">
        {{@players.lastObject.nickname}}
    </span>
</h1>